services:
  anylist:
    build:
      context: .
    container_name: anylist
    env_file:
      - .env
    secrets:
      - anylist_password
    volumes:
      - anylist-data:/data
    ports:
      - 9000:9000
    restart: unless-stopped

secrets:
  anylist_password:
    environment: "PASSWORD"

volumes:
  anylist-data:
